<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.stanwood.framework.analytics.facebook.definition">

    <application>
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
    </application>
</manifest>